<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sv. AEP bibliografía</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/biblio.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../js/biblio.js"></script>
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <a href="https://www.fundacionheca.org.ar/hospital/" target="_blank">
                <img src="../assets/img/logo-heca-03.png" class="heca-logo">
            </a>
        </div>
        <button class="open-menu" id="open">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <nav class="nav hide-menu" id="nav">
            <button class="close-menu" id="close">
                <span class="material-symbols-outlined">close</span>
            </button>
            <ul class="nav-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="contador-visitas.html">Contador de visitas</a></li>
            </ul>
        </nav>
    </header>
    <main class="main" id="MAIN">
        <section class="section-protocols" id="SECTION_PROTOCOLS">
            <section class="section" id="SECTION_ONE">
                <button class="button">Bibliografía AVM</button>
                <div class="protocols-container">
                    <iframe id="MANEJO_SEDOANAL_AEP" src="https://drive.google.com/file/d/1pOzhB2W2jpFwYX8jRP7EI_9PjuJwum1Q/preview"
                    onselectstart="return false" onPaste="return false;" onCopy="return false" onCut="return false"
                    onDrag="return false" onDrop="return false" allow="autoplay"></iframe>
                    <iframe id="CUIDADOS_RES_PACI_CRIT" src="https://drive.google.com/file/d/1m7l9v7FhkE5lvupsJ-7Lblb20JJ6jpx2/preview"
                    onselectstart="return false" onPaste="return false;" onCopy="return false" onCut="return false"
                    onDrag="return false" onDrop="return false" allow="autoplay"></iframe>
                    <img src="../assets/biblio/tet-1.jpg" class="protocol-img">
                    <img src="../assets/biblio/tet-2.jpg" class="protocol-img">
                    <img src="../assets/biblio/tet-3.jpg" class="protocol-img">
                    <img src="../assets/biblio/tet-4.jpg" class="protocol-img">
                    <img src="../assets/biblio/tet-5.jpg" class="protocol-img">
                </div>
            </section>
            <section class="section" id="SECTION_TWO">
                <button class="button">Bibliografía Quemados</button>
                <div class="protocols-container">
                    <iframe id="MANEJO_INICIAL_PACI_QUEMADO" src="https://drive.google.com/file/d/1pGB99vKWAv6TH_fDcfCk03tJyjNEB38U/preview"
                    onselectstart="return false" onPaste="return false;" onCopy="return false" onCut="return false"
                    onDrag="return false" onDrop="return false" allow="autoplay"></iframe>
                    <img src="../assets/biblio/quem1.jpg" class="protocol-img">
                    <img src="../assets/biblio/quem2.jpg" class="protocol-img">
                    <iframe width="1864" height="801" src="https://www.youtube.com/embed/taWF9HjPQM8"
                    title="Curaciones a pacientes quemados: Procedimiento" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe width="1864" height="801" src="https://www.youtube.com/embed/f6SqN7mhsYk"
                    title="Untitled video" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe width="1864" height="801" src="https://www.youtube.com/embed/IPyhZhsmXwI"
                    title="cuidados al paciente quemado" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <iframe width="1864" height="801" src="https://www.youtube.com/embed/CR5ppinPiRQ"
                    title="Cuidados de enfermeria a pacientes quemados  Materiales que usamos" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </section>
            <section class="section" id="SECTION_THREE">
                <button class="button">Bibliografía Stroke</button>
                <div class="protocols-container">
                    <iframe id="CON_ACV_ISQUEMICO_AGUDO" src="https://drive.google.com/file/d/1KWke67jctC4xqsRLkK6Pdn_GU0xnbeQB/preview"
                    onselectstart="return false" onPaste="return false;" onCopy="return false" onCut="return false"
                    onDrag="return false" onDrop="return false" allow="autoplay"></iframe>
                </div>
                <div class="protocols-container">
                    <img src="../assets/img/stroke-medicacion.jpg" class="protocol-img">
                    <img src="../assets/img/stroke-brain.jpg" class="protocol-img">
                    <p>¿Qué es el rt-PA</p>
                    <p>
                        Es un medicamento trombolítico que se utiliza para tratar el ICTUS
                        isquémico agudo. El nombre completo de medicamento es Activador Tisular
                        del Plasminógeno Recombinante (rt-PA).
                    </p>
                    <p>
                        Este medicamento se administra por vía venosa y funciona disolviendo los
                        coágulos que bloquean el flujo sanguíneo en el cerebro, lo que permite que
                        el flujo sanguíneo se restablezca y el cerebro reciba el oxigeno y los nutrientes
                        necesarios para su funcionamiento.
                    </p>
                    <p>
                        El rt-PA es el único medicamento aprobado por la FDA para el tratamiento del ICTUS
                        isquémico agudo y esta indicado para su uso en pacientes que cumplen con ciertos criterios
                        de elegibilidad, como la duración del tiempo desde el inicio de los síntomas y la edad del paciente.
                    </p>
                    <p>
                        Por los riesgos de hemorragia y otros eventos adversos debe ser administrado cuidadosamente en un
                        lugar adecuado cursando internación en unidad de cuidados intensivos y con un equipo especializado de seguimiento cercano.
                    </p>
                </div>
            </section>
            <section class="section" id="SECTION_FOUR">
                <button class="button">Recomendaciones del Comité de Control de Infecciones</button>
                <div class="protocols-container">
                    <iframe id="REC_COM_CONTROL_INFECC" src="https://drive.google.com/file/d/1ShY4x6fTlEi3aVGEMje2uK2pMMYsD1Om/preview"
                    onselectstart="return false" onPaste="return false;" onCopy="return false" onCut="return false"
                    onDrag="return false" onDrop="return false" allow="autoplay"></iframe>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <p class="footer-text">
                Rosario, Argentina
            </p>
            <p class="footer-text">
                Copyright © 2023 Analía Vera. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>