<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio AEP</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/landing.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <img src="../assets/img/logo-heca-03.png">
        </div>
        <div class="header-items">
            <img src="../assets/img/logoMuni-removebg-preview.png">
        </div>
    </header>
    <main>
        <section class="homepage">
            <div class="home-container">
                <h1>Guía de prácticas Enfermeras del servicio AEP</h1>
            <p>
                El desafío de aplicar instrumentos y algoritmos conservando la
                esencia del cuidado Enfermero, garantizado por intermedio de
                éstos, cuidados de calidad a partir de los cuales se establece
                la mejora contínua.
            </p>
            <img src="../assets/img/Protocolosventiladorartificial.png">
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <p class="footer-text">
                Rosario, Argentina
            </p>
            <p class="footer-text">
                Copyright © 2023 Analía Vera. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>