<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asist. Ventilatoria Mecánica</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/protocolos-ventilador.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="../js/protocolos-ventilador-artificial.js"></script>
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <a href="https://www.fundacionheca.org.ar/hospital/" target="_blank">
                <img src="../assets/img/logo-heca-03.png" class="heca-logo">
            </a>
        </div>
        <div class="header-items">
            <a href="https://www.rosario.gob.ar/inicio/" target="_blank">
                <img src="../assets/img/logoMuni-removebg-preview.png" class="muni-logo">
            </a>
        </div>
    </header>
    <main class="main" id="MAIN">
        <section class="section" id="SECTION_ONE">
            <button class="button">El respirador y sus partes</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_TWO">
            <button class="button">Conexiones de respirador</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_THREE">
            <button class="button">Parámetros y seteos básicos</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_FOUR">
            <button class="button">Cambio de humedificador</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_FIVE">
            <button class="button">Colocación de aspiración cerrada</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_SIX">
            <button class="button">Cambio de circuito de aspiración cerrada</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_SEVEN">
            <button class="button">Aspiración de secreciones</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_EIGHT">
            <button class="button">Prevención de neumonías asociadas al respirador</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <p class="footer-text">
                Rosario, Argentina
            </p>
            <p class="footer-text">
                Copyright © 2023 Analía Vera. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>