<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asist. Stroke</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/protocolos-stroke.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../js/protocolos-stroke.js"></script>
    <script src="../js/redirect-links.js"></script>
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <a href="https://www.fundacionheca.org.ar/hospital/" target="_blank">
                <img src="../assets/img/logo-heca-03.png" class="heca-logo">
            </a>
        </div>
        <button class="open-menu" id="open">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <nav class="nav hide-menu" id="nav">
            <button class="close-menu" id="close">
                <span class="material-symbols-outlined">close</span>
            </button>
            <ul class="nav-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="contador-visitas.html">Contador de visitas</a></li>
            </ul>
        </nav>
    </header>
    <main class="main" id="MAIN">
        <section class="section-main" id="SECTION_MAIN">
            <div class="container">
                <h1>Cuidados del paciente con Stroke</h1>
                <p>
                    El ICTUS o accidente cerebrovascular (ACV) es una emergencia, que puede tener consecuencias graves
                    e incluso mortales si no se trata rápidamente, por esto, es importante que el personal de salud de
                    AEP este capacitado para identificar los síntomas de ICTUS y seguir un protocolo de tratamiento adecuado.
                    En este protocolo se describirán los pasos a seguir en caso de un paciente con síntomas de ICTUS en la guardia de urgencias.
                </p>
                <p>
                    En la siguiente guía se indicará el manejo adecuado del paciente con Stroke cuando ingresa al servicio AEP.
                </p>
                <button class="button-main" id="BUTTON_GUIDE">Desplegar guía</button>
                <button class="button-main" onclick="redirectionBiblio()" id="BUTTON_BIBLIO">Consultar bibliografía</button>
            </div>
        </section>
        <section class="section-protocols hide" id="SECTION_PROTOCOLS">
            <section class="section" id="SECTION_ONE">
                <button class="button">Identificación de ICTUS</button>
                <div class="protocols-container">
                    <img src="../assets/img/stroke-2.jpg" class="protocol-img">
                    <ol>
                        <li>
                            a-	Al ingreso del paciente activar el código ACV: en caso de sospecha de ACV se activa el código de stroke de inmediato.
                                El medico debe notificar al equipo de emergencias (equipo especializado en ACV).
                        </li>
                        <li>
                            b-	El medico debe utilizar escala de NIHSS evaluando la gravedad del ICTUS.
                        </li>
                        <li>
                            c-	Evaluación neurológica: el medico realiza la evaluación neurológica inmediata del paciente para determinar si el paciente
                                esta experimentando un ACV, esto incluye evaluación de la conciencia, lenguaje, fuerza muscular, reflejos, coordinación.
                        </li>
                        <li>
                            d-	Glucemia: se debe realizar la medición de glucemia del paciente ya que los niveles bajos de glucosa pueden imitar
                                síntomas de ACV.
                        </li>
                        <li>
                            e-	Evaluación de los antecedentes médicos: evaluación completa de los antecedentes médicos del paciente. Incluyendo cualquier
                                medicamento que tomando para determinar si hay factores de riesgo para un ACV.
                        </li>
                        <li>
                            f-	Realizar TAC de forma inmediata para determinar tipo de ACV y la ubicación de la lesión.
                        </li>
                    </ol>
                </div>
            </section>
            <section class="section" id="SECTION_TWO">
                <button class="button">Soporte vital básico y avanzado</button>
                <div class="protocols-container">
                    <img src="../assets/img/stroke-1.jpg" class="protocol-img">
                    <ol>
                        <li>
                            a-	Oxigenoterapia con cánula nasal.
                        </li>
                        <li>
                            b-	Colocar dos vías periféricas con abbocath N° 18.
                        </li>
                        <li>
                            c-	No colocar sondas vesicales ni sondas nasogástricas hasta que no se diagnostique el tipo de ACV por TAC.
                        </li>
                        <li>
                            d-	Control de la tensión arterial, se recomienda TAS debajo de 185 mmHg y TAD menor a 110 mmHg.
                        </li>
                        <li>
                            e-	Evaluación trazado cardiaco: evaluar si el paciente presenta FA, esto aumenta el riesgo de ICTUS.
                        </li>
                        <li>
                            f-	El paciente debe ser monitorizado continuamente hasta ser derivado a la unidad donde se realizará según criterio
                                de elegibilidad trombólisis con activador tisular del plasminógeno, según las directrices de la American Heart
                                Association (AHA), si el paciente es elegible para trombólisis, debe ser administrado en la unidad adecuada lo antes posible.
                        </li>
                    </ol>
                </div>
            </section>
            <section class="section" id="SECTION_THREE">
                <button class="button">Criterios de inclusión y exlusión</button>
                <div class="protocols-container">
                    <h2>Inclusión:</h2>
                    <div class="in-line-flex">
                        <ul>
                            <li>◉ Tiempo IS < 4.5h (si > 80a: < 3h ).</li>
                            <li>◉ Mayores de 18 años.</li>
                            <li>◉ TC o RM que muestre Sg de isquemia.</li>
                            <li>◉ Isquemia NO supere 33% territorio ACM.</li>
                            <li>◉ Consentimiento informado x pte o fliar (no excluye).</li>
                            <li>◉ Ausencia de contraindicaciones que aumenten el riesgo de sangrado sist/SNC.</li>
                            <li>◉ NIHSS > 4 y < 25</li>
                            <ul>
                                <p>Casos excepcionales a considerar con NIHSS < 5:</p>
                                <li class="li-spaced">■ Hemianopsia completa o bilateral.</li>
                                <li class="li-spaced">■ Afasia grave, afasia global o multismo.</li>
                                <li class="li-spaced">■ Extinsión visual o sensitiva.</li>
                                <li class="li-spaced">■ Cualquier debilidad que limite el esfuerzo sostenido contra la gravedad.</li>
                            </ul>
                        </ul>
                        <img src="../assets/img/tickVerde.png" class="li-img">
                    </div>
                    <h2>Exclusión:</h2>
                    <h3>Criterios de exclusión para ventana dentro de las 3 horas de iniciado los sintomas</h3>
                    <div class="in-line-flex">
                        <ul>
                            <li>◉ Hemorragia en TC de cerebro.</li>
                            <li>◉ Historia previa de hemorragia intracerebral.</li>
                            <li>◉ Trauma de cráneo moderado o grave en los últimos 3 meses o ACV post-TEC en periodo intra-hospitalario.</li>
                            <li>◉ ACV isquémico en los últimos 3 meses.</li>
                            <li>◉ Tumor de cerebro intra-axial, aneurismas cerebrales rotos o MAV</li>
                            <li>◉ Síntomas y signos sugestivos de HSA.</li>
                            <li>◉ Cirugía intracerebral o intra-espinal dentro de los últimos 3 meses.</li>
                            <li>◉ Evidencia de hemorragia interna activa.</li>
                            <li>◉ Sangrado activo gastrointestinal con alteración estructural maligna o sangrado dentro de los últimos 21 días.</li>
                            <li>◉ Glucemia < 50 mg/dl.</li>
                            <li>◉ Endocarditis infecciosa.</li>
                            <li>◉ Disección del arco aórtico.</li>
                            <li>◉ PAS > 185 mmHG o TAD > 110 mmHg a pesar del tratamiento antihipertensivo.</li>
                            <li>◉ Diátesis hemorrágica conocida incluyendo, pero no limitada:</li>
                            <ul>
                                <li class="li-spaced">■ Plaquetas < 100000 (no se espera laboratorio por ser situación poco frecuente).</li>
                                <li class="li-spaced">■ Tratamiento con heparina en las últimas 48 horas con KPTT elevado.</li>
                                <li class="li-spaced">■ Uso actual de anticoagulantes orales (warfarina o acenocumarol) y RIN > 1.7 o TP > 15 segundos (si el RIN es
                                    < 1.7 es razonable administrar tratamiento).</li>
                                <li class="li-spaced">■ Uso de heparina de bajo peso molecular a dosis profilaxis o tratamiento en las últimas 24 horas.</li>
                                <li class="li-spaced">■ Uso actual de inhibidores directos de la trombina (dabigatrán) o del factor Xa (apixabán-rivaroxabán)</li>
                            </ul>
                        </ul>
                        <img src="../assets/img/cruzRoja.png" class="li-img">
                    </div>
                </div>
            </section>
            <section class="section" id="SECTION_FOUR">
                <button class="button">NIHSS</button>
                <div class="protocols-container">
                    <p>
                        La puntuación NIHSS se utiliza frecuentemente como herramienta de evaluación clínica para determinar
                        la fase aguda de los pacientes con ictus, acordar el tratamiento adecuado y predecir el resultado de
                        los pacientes. Sin embargo, a menudo vemos que los profesionales sanitarios administran el examen o
                        puntúan la escala de forma incorrecta, lo que puede llegar a ser perjudicial para el resultado clínico del paciente.
                    </p>
                    <p>
                        Un ejemplo de la susodicha puntuación NIHSS puede verse en la siguiente tabla:
                    </p>
                    <img src="../assets/img/nihss-puntuacion.jpg" class="nihss-img">
                </div>
            </section>
            <section class="section" id="SECTION_FIVE">
                <button class="button">Calculadora NIHSS</button>
                <div class="protocols-container">
                    <div class="nihss-section" id="NIHSS_ONE">
                        <div class="nihss-p-container">
                            <p>1.a. Nivel de conciencia</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Alerta <span>+0</span></button>
                            <button class="nihss-button">No alerta (mínimos estímulos verbales) <span>+1</span></button>
                            <button class="nihss-button">No alerta (estímulos repetidos o dolorosos) <span>+2</span></button>
                            <button class="nihss-button">Respuestas reflejas <span>+3</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_TWO">
                        <div class="nihss-p-container">
                            <p>1.b. Preguntar en qué mes está y qué edad tiene</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Ambas respuestas<br> correctas <span>+0</span></button>
                            <button class="nihss-button">Una respuesta<br> correcta (o disartria) <span>+1</span></button>
                            <button class="nihss-button">Ninguna respuesta<br> correcta (o afasia) <span>+2</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_THREE">
                        <div class="nihss-p-container">
                            <p>1.c. Ordenes motoras:
                                <p>
                                    Cerrar los ojos<br>
                                    Abrir y cerrar la mano
                                </p>
                            </p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Ambas ordenes correctas <span>+0</span></button>
                            <button class="nihss-button">Una orden correcta <span>+1</span></button>
                            <button class="nihss-button">Ninguna orden correcta <span>+2</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_FOUR">
                        <div class="nihss-p-container">
                            <p>2. Mirada conjugada (horizontal)</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Normal <span>+0</span></button>
                            <button class="nihss-button">Parálisis parcial de<br> la mirada <span>+1</span></button>
                            <button class="nihss-button">Desviación forzada de<br> la mirada <span>+2</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_FIVE">
                        <div class="nihss-p-container">
                            <p>3. Campo visual</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Normal <span>+0</span></button>
                            <button class="nihss-button">Hemianopsia parcial <span>+1</span></button>
                            <button class="nihss-button">Hemianopsia completa <span>+2</span></button>
                            <button class="nihss-button">Ceguera <span>+3</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_SIX">
                        <div class="nihss-p-container">
                            <p>4. Paresia facial</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Movilidad normal <span>+0</span></button>
                            <button class="nihss-button">Paresia menor <span>+1</span></button>
                            <button class="nihss-button">Paresia parcial <span>+2</span></button>
                            <button class="nihss-button">Parálisis completa de la hemicara <span>+3</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_SEVEN">
                        <div class="nihss-p-container">
                            <p>5.a. Miembro superior izquierdo</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">No caída del miembro <span>+0</span></button>
                            <button class="nihss-button">Caída en menos de 10 segundos <span>+1</span></button>
                            <button class="nihss-button">Esfuerzo contra la<br> gravedad <span>+2</span></button>
                            <button class="nihss-button">Movimiento en el plano horizontal <span>+3</span></button>
                            <button class="nihss-button">No movimiento <span>+4</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_EIGHT">
                        <div class="nihss-p-container">
                            <p>5.b. Miembro superior derecho</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">No caída del miembro <span>+0</span></button>
                            <button class="nihss-button">Caída en menos de 10 segundos <span>+1</span></button>
                            <button class="nihss-button">Esfuerzo contra la<br> gravedad <span>+2</span></button>
                            <button class="nihss-button">Movimiento en el plano horizontal <span>+3</span></button>
                            <button class="nihss-button">No movimiento <span>+4</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_NINE">
                        <div class="nihss-p-container">
                            <p>6.a. Miembro inferior izquierdo</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">No caída del miembro <span>+0</span></button>
                            <button class="nihss-button">Caída en menos de 5 segundos <span>+1</span></button>
                            <button class="nihss-button">Esfuerzo contra la<br> gravedad <span>+2</span></button>
                            <button class="nihss-button">Movimiento en el plano horizontal <span>+3</span></button>
                            <button class="nihss-button">No movimiento <span>+4</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_TEN">
                        <div class="nihss-p-container">
                            <p>6.b. Miembro inferior derecho</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">No caída del miembro <span>+0</span></button>
                            <button class="nihss-button">Caída en menos de 5 segundos <span>+1</span></button>
                            <button class="nihss-button">Esfuerzo contra la<br> gravedad <span>+2</span></button>
                            <button class="nihss-button">Movimiento en el plano horizontal <span>+3</span></button>
                            <button class="nihss-button">No movimiento <span>+4</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_ELEVEN">
                        <div class="nihss-p-container">
                            <p>7. Ataxia de miembros</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Ausente <span>+0</span></button>
                            <button class="nihss-button">Presente en una<br> extremidad <span>+1</span></button>
                            <button class="nihss-button">En 2 o más extremidades <span>+2</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_TWELVE">
                        <div class="nihss-p-container">
                            <p>8. Exploración sensitiva</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Normal <span>+0</span></button>
                            <button class="nihss-button">Perdida entre ligera<br> y moderada <span>+1</span></button>
                            <button class="nihss-button">Perdida entre grave<br> y total <span>+2</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_THIRTEEN">
                        <div class="nihss-p-container">
                            <p>9. Lenguaje</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Normal <span>+0</span></button>
                            <button class="nihss-button">Afasia ligera a moderada <span>+1</span></button>
                            <button class="nihss-button">Afasia grave <span>+2</span></button>
                            <button class="nihss-button">Afasia global <span>+3</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_FOURTEEN">
                        <div class="nihss-p-container">
                            <p>10. Disartria</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Normal <span>+0</span></button>
                            <button class="nihss-button">Ligera a moderada <span>+1</span></button>
                            <button class="nihss-button">Grave a anartria<span>+2</span></button>
                        </div>
                    </div>
                    <div class="nihss-section hide" id="NIHSS_FIFTEEN">
                        <div class="nihss-p-container">
                            <p>11. Extición e Inatención<br> (negligencia)</p>
                        </div>
                        <div class="nihss-btns-container">
                            <button class="nihss-button">Normal <span>+0</span></button>
                            <button class="nihss-button">Extinción parcial <span>+1</span></button>
                            <button class="nihss-button">Extinción completa <span>+2</span></button>
                        </div>
                    </div>
                    <div class="final-result hide" id="FINAL_RESULT">
                        <h2 class="final-text">Resultado final</h2>
                    </div>
                    <div class="fix-result" id="DIV_RESULT">
                        <h2><span id="RESULT">0</span>puntos</h2>
                        <button class="btn-reset">Restablecer</button>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <p class="footer-text">
                Rosario, Argentina
            </p>
            <p class="footer-text">
                Copyright © 2023 Analía Vera. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>