<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asist. Stroke</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/protocolos-stroke.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../js/protocolos-stroke.js"></script>
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <a href="https://www.fundacionheca.org.ar/hospital/" target="_blank">
                <img src="../assets/img/logo-heca-03.png" class="heca-logo">
            </a>
        </div>
        <div class="header-items">
            <a href="https://www.rosario.gob.ar/inicio/" target="_blank">
                <img src="../assets/img/logoMuni-removebg-preview.png" class="muni-logo">
            </a>
        </div>
    </header>
    <main class="main" id="MAIN">
        <section class="section-main" id="SECTION_MAIN">
            <div class="container">
                <h1>Cuidados del paciente con Stroke</h1>
                <p>
                    El ICTUS o accidente cerebrovascular (ACV) es una emergencia, que puede tener consecuencias graves
                    e incluso mortales si no se trata rápidamente, por esto, es importante que el personal de salud de
                    AEP este capacitado para identificar los síntomas de ICTUS y seguir un protocolo de tratamiento adecuado.
                    En este protocolo se describirán los pasos a seguir en caso de un paciente con síntomas de ICTUS en la guardia de urgencias.
                </p>
                <p>
                    En la siguiente guía se indicará el manejo adecuado del paciente con Stroke cuando ingresa al servicio AEP.
                </p>
                <button class="button-main" id="BUTTON_GUIDE">Desplegar guía</button>
                <button class="button-main" id="BUTTON_BIBLIO">Consultar bibliografía</button>
            </div>
        </section>
        <section class="section-protocols hide" id="SECTION_PROTOCOLS">
            <section class="section" id="SECTION_ONE">
                <button class="button">Identificación de ICTUS</button>
                <div class="protocols-container">
                    <ul>
                        <li>- <strong>Extensión de las quemaduras</strong>: utilizar en adultos regla del nueve, junto con la regla de la palma de la mano.</li>
                        <li>- <strong>Profundidad de las quemaduras:</strong>
                            <ul>
                                <li>○ Tipo A (primer grado, superficial).</li>
                                <li>○ Tipo A B (segundo grado, intermedia).</li>
                                <li>○ Tipo B (tercer grado, espesor total).</li>
                            </ul>
                        </li>
                        <li>- Localización de las quemaduras.</li>
                        <li>- Edad del paciente.</li>
                        <li>- Gravedad.</li>
                    </ul>
                    <img src="../assets/img/quemados-platsul.jpg" class="protocol-img">
                    <img src="../assets/img/areas-quemaduras.jpg" class="protocol-img">
                </div>
            </section>
            <section class="section" id="SECTION_TWO">
                <button class="button">Soporte vital básico y avanzado</button>
                <div class="protocols-container">
                    <ul>
                        <li>- <strong>Extensión de las quemaduras</strong>: utilizar en adultos regla del nueve, junto con la regla de la palma de la mano.</li>
                        <li>- <strong>Profundidad de las quemaduras:</strong>
                            <ul>
                                <li>○ Tipo A (primer grado, superficial).</li>
                                <li>○ Tipo A B (segundo grado, intermedia).</li>
                                <li>○ Tipo B (tercer grado, espesor total).</li>
                            </ul>
                        </li>
                        <li>- Localización de las quemaduras.</li>
                        <li>- Edad del paciente.</li>
                        <li>- Gravedad.</li>
                    </ul>
                    <img src="../assets/img/quemados-platsul.jpg" class="protocol-img">
                    <img src="../assets/img/areas-quemaduras.jpg" class="protocol-img">
                </div>
            </section>
            <section class="section" id="SECTION_THREE">
                <button class="button">¿Qué es el rt-PA?</button>
                <div class="protocols-container">
                    <ul>
                        <li>- <strong>Extensión de las quemaduras</strong>: utilizar en adultos regla del nueve, junto con la regla de la palma de la mano.</li>
                        <li>- <strong>Profundidad de las quemaduras:</strong>
                            <ul>
                                <li>○ Tipo A (primer grado, superficial).</li>
                                <li>○ Tipo A B (segundo grado, intermedia).</li>
                                <li>○ Tipo B (tercer grado, espesor total).</li>
                            </ul>
                        </li>
                        <li>- Localización de las quemaduras.</li>
                        <li>- Edad del paciente.</li>
                        <li>- Gravedad.</li>
                    </ul>
                    <img src="../assets/img/quemados-platsul.jpg" class="protocol-img">
                    <img src="../assets/img/areas-quemaduras.jpg" class="protocol-img">
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <p class="footer-text">
                Rosario, Argentina
            </p>
            <p class="footer-text">
                Copyright © 2023 Analía Vera. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>