<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asist. Ventilatoria Mecánica</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/protocolos-ventilador.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="../js/protocolos-ventilador-artificial.js"></script>
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <a href="https://www.fundacionheca.org.ar/hospital/" target="_blank">
                <img src="../assets/img/logo-heca-03.png" class="heca-logo">
            </a>
        </div>
        <div class="header-items">
            <a href="https://www.rosario.gob.ar/inicio/" target="_blank">
                <img src="../assets/img/logoMuni-removebg-preview.png" class="muni-logo">
            </a>
        </div>
    </header>
    <main class="main" id="MAIN">
        <!--Incluir una SECTION_MAIN en donde vaya la intro y un button que oculte dicha intro
        y despliegue las demas secciones (primero estaran ocultas)-->
        <section class="section" id="SECTION_ONE">
            <button class="button">Control de conexiones del ventilador fuente eléctrica y gases</button>
            <div class="protocols-container">
                <img src="../assets/img/img-section-one.jpg" class="protocol-img">
                <h3>Control de conexiones del AMV</h3>
                <p>
                    ☺ Verificar funcionamiento eléctrico del panel y del ventilador<br>
                    ☺ Controlar que el respirador se encuentre enchufado<br>
                    ☺ Control del panel de gases<br>
                    ☺ Aire comprimido conectado y abierto<br>
                    ☺ Oxigeno conectado y abierto<br>
                    ☺ Sistema de aspiración funcionante<br>
                    ☺ Tecla de encendido del respirador funcionante
                </p>
            </div>
        </section>
        <section class="section" id="SECTION_TWO">
            <button class="button">Armado de ventilador</button>
            <div class="protocols-container">
                <h3>Interfases preparadas</h3>
                <img src="../assets/img/img-section-two-a.jpg" class="protocol-img">
                <p>
                    ☺ Filtro antibacterial con humidificador pasivo (HME) estéril<br>
                    ☺ Filtro antibacterial estéril<br>
                    ☺ Tubuladura corrugada estéril
                </p>
                <img src="../assets/img/img-section-two-b.jpg" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_THREE">
            <button class="button">Seteo básico de ventilador</button>
            <div class="protocols-container">
                <img src="../assets/img/img-section-tree.jpg" class="protocol-img">
                <h3>Fórmula para obtener el volumen adecuado</h3>
                <p>
                    VT Peso teórico: altura en cm – 152.4x0.91+ 45.5 (m) 50(h).<br>
                    EL RESULTADO  se multiplica X6, 7, U 8. = VOLUMEN TIDAL.<br>
                    Fr: Frecuencia respiratoria: 14-18 respiraciones por minuto<br>
                    fiO2: fracción inspirada de oxígeno (50/100) de inicio<br>
                    Cada paciente es particular y el medico modifica los parámetros de acuerdo al requerimiento individual del usuario.
                </p>
            </div>
        </section>
        <section class="section" id="SECTION_FOUR">
            <button class="button">Secuencia de intubación rápida</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_FIVE">
            <button class="button">Aspiración de secreciones</button>
            <div class="protocols-container">
                <h3>Aspirar secreciones puede realizase a través de dos sistemas uno cerrado y otro abierto</h3>
                <p>
                    Aspiración abierta: este modo implica que se produzca la apertura de la vía aérea y cambio de sonda de aspiración cada vez.
                </p>
                <p>
                    Aspiración cerrada: no requiere desconexión ni apertura de la vía aérea, se utiliza una única sonda de mayor utilización.
                </p>
                <h3>Técnica de aspiración:</h3>
                <p>
                    ☺ Auscultar cuidadosamente<br>
                    ☺ Ajustar analgosedacion<br>
                    ☺ Verificar oximetría<br>
                    ☺ Hiperoxigenar 1´FiO2 100%<br>
                    ☺ Manos con lavado clínico, colocarse guantes y antiparras<br>
                    ☺ Sonda de aspiración<br>
                    ☺ Ingresar con la sonda el largo estimado del TET<br>
                    ☺ No ingresar aspirando<br>
                    ☺ La aspiración no debe exceder los 10´´ si debe realizarse otro intento de aspiración ventilar previamente<br>
                    ☺ No exceder tres intentos<br>
                    ☺ Aspirar lago faríngeo, narinas y boca<br>
                    ☺ Auscultar nuevamente<br>
                    ☺ Controlar que FiO2 se encuentre en rango anterior a la aspiración<br>
                    ☺ No instilar solución salina (aumenta el riesgo de atelectasias)<br>
                    ☺ Desechar material contaminado.<br>
                    ☺ Lavado de manos
                </p>
            </div>
        </section>
        <section class="section" id="SECTION_SIX">
            <button class="button">Cambio filtro HME</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_SEVEN">
            <button class="button">Cambio circuito aspiración cerrada</button>
            <div class="protocols-container">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Officiis ex, nihil placeat dignissimos
                    distinctio rem maiores? Esse distinctio quis omnis
                    quo, assumenda nulla doloremque nihil aspernatur id
                    facere quibusdam eos!
                </p>
                <img src="../assets/img/ex-img.png" class="protocol-img">
            </div>
        </section>
        <section class="section" id="SECTION_EIGHT">
            <button class="button">Prevención de neumonía asociada a AMV</button>
            <div class="protocols-container">
                <p>
                    ☺ presión del cuff de TET adecuado, de 25 cmH2O y no mayor a 34cm H2O para prevenir la fuga, y evitar el ingreso de material contaminado de la faringe<br>
                    ☺ cabecera a 30 o 45° (especialmente si están recibiendo nutrición enteral)<br>
                    ☺ Higiene bucal con clorhexidina, para disminuir la colonización microbiana de la orofaringe una vez por turno<br>
                    ☺ cambio de fijaciones de tubo endotraqueal una vez por turno cuando se realiza la higiene bucal<br>
                    ☺ aspiración de secreciones preferentemente sistema cerrado cuando se ausculten secreciones<br>
                    ☺ cambio de interfases cuando se encuentren visiblemente sucias<br>
                    ☺ analgosedacion adecuada la presencia del TET causa dolor y disconfort
                </p>
                <p>
                    Las dosis excesivas de analgésicos pueden producir intolerancia a la nutrición enteral por íleo, prolongación de la ventilación mecánica.
                </p>
            </div>
        </section>
        <section class="section" id="SECTION_NINE">
            <button class="button">Uso de escalas para la valoración de la sedación (RASS-CPOT)</button>
            <div class="protocols-container">
                <img src="../assets/img/img-section-nine-a.png" class="protocol-img">
                <img src="../assets/img/img-section-nine-b.jpg" class="protocol-img">
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <p class="footer-text">
                Rosario, Argentina
            </p>
            <p class="footer-text">
                Copyright © 2023 Analía Vera. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>