<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asist. Quemados</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/protocolos-quemados.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../js/protocolos-quemados.js"></script>
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <a href="https://www.fundacionheca.org.ar/hospital/" target="_blank">
                <img src="../assets/img/logo-heca-03.png" class="heca-logo">
            </a>
        </div>
        <div class="header-items">
            <a href="https://www.rosario.gob.ar/inicio/" target="_blank">
                <img src="../assets/img/logoMuni-removebg-preview.png" class="muni-logo">
            </a>
        </div>
    </header>
    <main class="main" id="MAIN">
        <section class="section-main" id="SECTION_MAIN">
            <div class="container">
                <h1>Cuidados del paciente quemado</h1>
                <p>
                    El desafío de aplicar instrumentos y algoritmos conservando la
                    esencia del cuidado Enfermero, garantizando por intermedio de
                    éstos, cuidados de calidad a partir de los cuales se establece
                    la mejora contínua.
                </p>
                <p>
                    En la siguiente guía se indicará el manejo adecuado del paciente quemado cuando ingresa al servicio AEP.
                </p>
                <button class="button-main" id="BUTTON_GUIDE">Desplegar guía</button>
                <button class="button-main" id="BUTTON_BIBLIO">Consultar bibliografía</button>
            </div>
        </section>
        <section class="section-protocols hide" id="SECTION_PROTOCOLS">
            <section class="section" id="SECTION_ONE">
                <button class="button">Manejo inicial del paciente quemado</button>
                <div class="protocols-container">
                    <img src="../assets/img/img-section-one.jpg" class="protocol-img">
                    <h3>Control de conexiones del AMV</h3>
                    <ul>
                        <li>☺ Verificar funcionamiento eléctrico del panel y del ventilador.</li>
                        <li>☺ Controlar que el respirador se encuentre enchufado.</li>
                        <li>☺ Control del panel de gases.</li>
                        <li>☺ Aire comprimido conectado y abierto.</li>
                        <li>☺ Oxigeno conectado y abierto.</li>
                        <li>☺ Sistema de aspiración funcionante.</li>
                        <li>☺ Tecla de encendido del respirador funcionante.</li>
                    </ul>
                </div>
            </section>
            <section class="section" id="SECTION_TWO">
                <button class="button">Clasificación y tipos de quemaduras</button>
                <div class="protocols-container">
                    <img src="../assets/img/img-section-one.jpg" class="protocol-img">
                    <h3>Control de conexiones del AMV</h3>
                    <ul>
                        <li>☺ Verificar funcionamiento eléctrico del panel y del ventilador.</li>
                        <li>☺ Controlar que el respirador se encuentre enchufado.</li>
                        <li>☺ Control del panel de gases.</li>
                        <li>☺ Aire comprimido conectado y abierto.</li>
                        <li>☺ Oxigeno conectado y abierto.</li>
                        <li>☺ Sistema de aspiración funcionante.</li>
                        <li>☺ Tecla de encendido del respirador funcionante.</li>
                    </ul>
                </div>
            </section>
            <section class="section" id="SECTION_THREE">
                <button class="button">Fórmula de Parkland</button>
                <div class="protocols-container">
                    <img src="../assets/img/img-section-one.jpg" class="protocol-img">
                    <h3>Control de conexiones del AMV</h3>
                    <ul>
                        <li>☺ Verificar funcionamiento eléctrico del panel y del ventilador.</li>
                        <li>☺ Controlar que el respirador se encuentre enchufado.</li>
                        <li>☺ Control del panel de gases.</li>
                        <li>☺ Aire comprimido conectado y abierto.</li>
                        <li>☺ Oxigeno conectado y abierto.</li>
                        <li>☺ Sistema de aspiración funcionante.</li>
                        <li>☺ Tecla de encendido del respirador funcionante.</li>
                    </ul>
                </div>
            </section>
            <section class="section" id="SECTION_FOUR">
                <button class="button">Manejo del dolor en el paciente quemado</button>
                <div class="protocols-container">
                    <h3>Analgesia según intensidad del dolor:</h3>
                    <ul>
                        <li>☺ Dolor leve: Ibuprofeno 400 mg cada 6 hs o diclofenac 50 mg cada 8 hs o ketorolac 20 mg cada 8 hs
                            o paracetamol 1 gr cada 6 hs VO.</li>
                        <li>☺ Dolor moderado: AINES asociado a tramadol 50 mg cada 8 hs VO/EV o clorhidrato de morfina.</li>
                        <li>☺ Dolor intenso: AINES asociado a clorhidrato de morfina 5 mg EV cada 4 hs (Titular la dosis; ésta
                            es una dosis aproximada para iniciar el tratamiento). Indicar además dosis de refuerzo antes de realizar
                            curaciones o manipulaciones de las heridas y dosis de rescate según necesidad del paciente</li>
                        <li>☺ Si se indican opioides, administrar durante las primeras 48 hs metoclopramida 10 mg EV cada 8 hs para
                            evitar nauseas o vómitos asociados a los mismos. Si se prolonga la analgesia con opioides, administrar
                            además lactulosa VO para minimizar su efecto constipante.</li>
                    </ul>
                </div>
            </section>
            <section class="section" id="SECTION_FIVE">
                <button class="button">Curación inicial</button>
                <div class="protocols-container">
                    <img src="../assets/img/img-section-one.jpg" class="protocol-img">
                    <h3>Control de conexiones del AMV</h3>
                    <ul>
                        <li>☺ Verificar funcionamiento eléctrico del panel y del ventilador.</li>
                        <li>☺ Controlar que el respirador se encuentre enchufado.</li>
                        <li>☺ Control del panel de gases.</li>
                        <li>☺ Aire comprimido conectado y abierto.</li>
                        <li>☺ Oxigeno conectado y abierto.</li>
                        <li>☺ Sistema de aspiración funcionante.</li>
                        <li>☺ Tecla de encendido del respirador funcionante.</li>
                    </ul>
                </div>
            </section>
            <section class="section" id="SECTION_SIX">
                <button class="button">Indicaciones médicas</button>
                <div class="protocols-container">
                    <img src="../assets/img/ex-img.png" class="protocol-img">
                    <ul>
                        <li>☺ Control de signos vitales (determinar frecuencia según gravedad).</li>
                        <li>☺ Control estricto de diuresis (colocar sonda vesical según necesidad. <strong>Si la SCQ es > 30% siempre</strong>).</li>
                        <li>☺ Cabecera a 30º.</li>
                        <li>☺ Monitoreo cardíaco permanente (en quemaduras extensas o de causa eléctrica).</li>
                        <li>☺ Saturación mediante oxímetro de pulso permanente (en quemaduras extensas, de causa eléctrica o con sospecha de complicaciones respiratorias).</li>
                        <li>☺ Oxígeno por bigotera o máscara (según necesidad).</li>
                        <li>☺ Sovreelevar miebros lesionados por encima del nivel del tórax.</li>
                        <li>☺ Hidratación parental: según fórmula de Parkland/Baxter. La solución a utilizar es Ringer Lactato y se deben administrar el 50% del volumen
                            calculado en las primeras 8 hs a partir del evento traumático y el 50% restante en las siguientes 16 hs. Si el paciente permanece con parámetros
                            hemodinámicos estables, al segundo día suele indicarse la mitad del volumen de Ringer Lactato que el día de ingreso y al tercer día se rota la
                            hidratación parenteral a lo habitual según sus nececidades.</li>
                        <li>☺ Tecla de encendido del respirador funcionante.</li>
                        <li>☺ Tecla de encendido del respirador funcionante.</li>
                        <li>☺ Tecla de encendido del respirador funcionante.</li>
                    </ul>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <p class="footer-text">
                Rosario, Argentina
            </p>
            <p class="footer-text">
                Copyright © 2023 Analía Vera. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>