<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asist. Stroke</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/protocolos-stroke.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../js/protocolos-stroke.js"></script>
    <script src="../js/redirect-links.js"></script>
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <a href="https://www.fundacionheca.org.ar/hospital/" target="_blank">
                <img src="../assets/img/logo-heca-03.png" class="heca-logo">
            </a>
        </div>
        <div class="header-items">
            <a href="https://www.rosario.gob.ar/inicio/" target="_blank">
                <img src="../assets/img/logoMuni-removebg-preview.png" class="muni-logo">
            </a>
        </div>
    </header>
    <main class="main" id="MAIN">
        <section class="section-main" id="SECTION_MAIN">
            <div class="container">
                <h1>Cuidados del paciente con Stroke</h1>
                <p>
                    El ICTUS o accidente cerebrovascular (ACV) es una emergencia, que puede tener consecuencias graves
                    e incluso mortales si no se trata rápidamente, por esto, es importante que el personal de salud de
                    AEP este capacitado para identificar los síntomas de ICTUS y seguir un protocolo de tratamiento adecuado.
                    En este protocolo se describirán los pasos a seguir en caso de un paciente con síntomas de ICTUS en la guardia de urgencias.
                </p>
                <p>
                    En la siguiente guía se indicará el manejo adecuado del paciente con Stroke cuando ingresa al servicio AEP.
                </p>
                <button class="button-main" id="BUTTON_GUIDE">Desplegar guía</button>
                <button class="button-main" onclick="redirectionBiblio()" id="BUTTON_BIBLIO">Consultar bibliografía</button>
            </div>
        </section>
        <section class="section-protocols hide" id="SECTION_PROTOCOLS">
            <section class="section" id="SECTION_ONE">
                <button class="button">Identificación de ICTUS</button>
                <div class="protocols-container">
                    <img src="../assets/img/stroke-2.jpg" class="protocol-img">
                    <ol>
                        <li>
                            a-	Al ingreso del paciente activar el código ACV: en caso de sospecha de ACV se activa el código de stroke de inmediato.
                                El medico debe notificar al equipo de emergencias (equipo especializado en ACV).
                        </li>
                        <li>
                            b-	El medico debe utilizar escala de NIHSS evaluando la gravedad del ICTUS.
                        </li>
                        <li>
                            c-	Evaluación neurológica: el medico realiza la evaluación neurológica inmediata del paciente para determinar si el paciente
                                esta experimentando un ACV, esto incluye evaluación de la conciencia, lenguaje, fuerza muscular, reflejos, coordinación.
                        </li>
                        <li>
                            d-	Glucemia: se debe realizar la medición de glucemia del paciente ya que los niveles elevados de glucosa pueden imitar
                                síntomas de ACV.
                        </li>
                        <li>
                            e-	Evaluación de los antecedentes médicos: evaluación completa de los antecedentes médicos del paciente. Incluyendo cualquier
                                medicamento que tomando para determinar si hay factores de riesgo para un ACV.
                        </li>
                        <li>
                            f-	Realizar TAC de forma inmediata para determinar tipo de ACV y la ubicación de la lesión.
                        </li>
                    </ol>
                </div>
            </section>
            <section class="section" id="SECTION_TWO">
                <button class="button">Soporte vital básico y avanzado</button>
                <div class="protocols-container">
                    <img src="../assets/img/stroke-1.jpg" class="protocol-img">
                    <ol>
                        <li>
                            a-	Oxigenoterapia con cánula nasal.
                        </li>
                        <li>
                            b-	Colocar dos vías periféricas con abbocath N° 18.
                        </li>
                        <li>
                            c-	No colocar sondas vesicales ni sondas nasogástricas hasta que no se diagnostique el tipo de ACV por TAC.
                        </li>
                        <li>
                            d-	Control de la tensión arterial, se recomienda TAS debajo de 185 mmHg y TAD menor a 110 mmHg.
                        </li>
                        <li>
                            e-	Evaluación trazado cardiaco: evaluar si el paciente presenta FA, esto aumenta el riesgo de ICTUS.
                        </li>
                        <li>
                            f-	El paciente debe ser monitorizado continuamente hasta ser derivado a la unidad donde se realizará según criterio
                                de elegibilidad trombólisis con activador tisular del plasminógeno, según las directrices de la American Heart
                                Association (AHA), si el paciente es elegible para trombólisis, debe ser administrado en la unidad adecuada lo antes posible.
                        </li>
                    </ol>
                </div>
            </section>
            <section class="section" id="SECTION_THREE">
                <button class="button">¿Qué es el rt-PA?</button>
                <div class="protocols-container">
                    <img src="../assets/img/stroke-medicacion.jpg" class="protocol-img">
                    <img src="../assets/img/stroke-brain.jpg" class="protocol-img">
                    <p>
                        Es un medicamento trombolítico que se utiliza para tratar el ICTUS
                        isquémico agudo. El nombre completo de medicamento es Activador Tisular
                        del Plasminógeno Recombinante (rt-PA).
                    </p>
                    <p>
                        Este medicamento se administra por vía venosa y funciona disolviendo los
                        coágulos que bloquean el flujo sanguíneo en el cerebro, lo que permite que
                        el flujo sanguíneo se restablezca y el cerebro reciba el oxigeno y los nutrientes
                        necesarios para su funcionamiento.
                    </p>
                    <p>
                        El rt-PA es el único medicamento aprobado por la FDA para el tratamiento del ICTUS
                        isquémico agudo y esta indicado para su uso en pacientes que cumplen con ciertos criterios
                        de elegibilidad, como la duración del tiempo desde el inicio de los síntomas y la edad del paciente.
                    </p>
                    <p>
                        Por los riesgos de hemorragia y otros eventos adversos debe ser administrado cuidadosamente en un
                        lugar adecuado y con un equipo especializado de seguimiento cercano.
                    </p>
                </div>
            </section>
            <section class="section" id="SECTION_FOUR">
                <button class="button">NIHSS</button>
                <div class="protocols-container">
                    <p>
                        La puntuación NIHSS se utiliza frecuentemente como herramienta de evaluación clínica para determinar
                        la fase aguda de los pacientes con ictus, acordar el tratamiento adecuado y predecir el resultado de
                        los pacientes. Sin embargo, a menudo vemos que los profesionales sanitarios administran el examen o
                        puntúan la escala de forma incorrecta, lo que puede llegar a ser perjudicial para el resultado clínico del paciente.
                    </p>
                    <p>
                        La susodicha puntuación NIHSS puede verse en la siguiente tabla:
                    </p>
                    <img src="../assets/img/nihss-puntuacion.jpg" class="nihss-calcu">
                </div>
            </section>
            <section class="section" id="SECTION_FIVE">
                <button class="button">Calculadora NIHSS</button>
                <div class="protocols-container">
                    <iframe src="https://www.uptodate.com/contents/calculator-national-institutes-of-health-stroke-scale-nihss-score-in-adults"></iframe>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <p class="footer-text">
                Rosario, Argentina
            </p>
            <p class="footer-text">
                Copyright © 2023 Analía Vera. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>