<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asist. Ventilatoria Mecánica</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/protocolos-ventilador.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="../js/protocolos-ventilador-artificial.js"></script>
</head>
<body>
    <header class="fix-header">
        <div class="header-items">
            <a href="https://www.fundacionheca.org.ar/hospital/" target="_blank">
                <img src="../assets/img/logo-heca-03.png" class="heca-logo">
            </a>
        </div>
        <div class="header-items">
            <a href="https://www.rosario.gob.ar/inicio/" target="_blank">
                <img src="../assets/img/logoMuni-removebg-preview.png" class="muni-logo">
            </a>
        </div>
    </header>
    <main class="main" id="MAIN">
        <section class="section-main" id="SECTION_MAIN">
            <h1>Cuidados del paciente en AVM</h1>
            <p>
                La regla número uno referente al cuidado del paciente en Asistencia Ventilatoria Mecanica es colocarse la siguiente vestimenta:
            </p>
            <img src="../assets/img/img-section-main.jpg" class="protocol-img">
            <button class="button-main" id="BUTTON_GUIDE">Desplegar guía</button>
            <button class="button-main" id="BUTTON_BIBLIO">Consultar bibliografía</button>
        </section>
        <section class="section-protocols hide" id="SECTION_PROTOCOLS">
            <section class="section" id="SECTION_ONE">
                <button class="button">Control de conexiones del ventilador fuente eléctrica y gases</button>
                <div class="protocols-container">
                    <img src="../assets/img/img-section-one.jpg" class="protocol-img">
                    <h3>Control de conexiones del AMV</h3>
                    <ul>
                        <li>☺ Verificar funcionamiento eléctrico del panel y del ventilador</li>
                        <li>☺ Controlar que el respirador se encuentre enchufado</li>
                        <li>☺ Control del panel de gases</li>
                        <li>☺ Aire comprimido conectado y abierto</li>
                        <li>☺ Oxigeno conectado y abierto</li>
                        <li>☺ Sistema de aspiración funcionante</li>
                        <li>☺ Tecla de encendido del respirador funcionante</li>
                    </ul>
                </div>
            </section>
            <section class="section" id="SECTION_TWO">
                <button class="button">Armado de ventilador</button>
                <div class="protocols-container">
                    <h3>Interfases preparadas</h3>
                    <img src="../assets/img/img-section-two-a.jpg" class="protocol-img">
                    <ul>
                        <li>☺ Filtro antibacterial con humidificador pasivo (HME) estéril</li>
                        <li>☺ Filtro antibacterial estéril</li>
                        <li>☺ Tubuladura corrugada estéril</li>
                    </ul>
                    <img src="../assets/img/img-section-two-b.jpg" class="protocol-img">
                </div>
            </section>
            <section class="section" id="SECTION_THREE">
                <button class="button">Seteo básico de ventilador</button>
                <div class="protocols-container">
                    <img src="../assets/img/img-section-tree.jpg" class="protocol-img">
                    <h3>Fórmula para obtener el volumen adecuado</h3>
                    <p>
                        VT Peso teórico: altura en cm – 152.4x0.91+ 45.5 (m) 50(h).<br>
                        EL RESULTADO  se multiplica X6, 7, U 8. = VOLUMEN TIDAL.<br>
                        Fr: Frecuencia respiratoria: 14-18 respiraciones por minuto<br>
                        fiO2: fracción inspirada de oxígeno (50/100) de inicio<br>
                        Cada paciente es particular y el medico modifica los parámetros de acuerdo al requerimiento individual del usuario.
                    </p>
                </div>
            </section>
            <section class="section" id="SECTION_FOUR">
                <button class="button">Secuencia de intubación rápida</button>
                <div class="protocols-container">
                    <img src="../assets/img/img-section-four-a.jpg" class="protocol-img">
                    <h3>Debemos tener preparado:</h3>
                    <ul>
                        <li>☺ Preparación del equipo de intubación</li>
                        <li>☺ Preoxigenacion</li>
                        <li>☺ Premediación</li>
                        <li>☺ Inducción/ parálisis</li>
                        <li>☺ Asegurar intubación correcta</li>
                        <li>☺ Asegurar y fijar TET</li>
                        <li>☺ Control y cuidados post intubación</li>
                    </ul>
                    <h2>Fármacos de uso frecuente en la intubación rápida</h2>
                    <h3>¿Qué drogas necesitamos?</h3>
                    <img src="../assets/img/img-section-four-b.jpg" class="protocol-img">
                    <ol>
                        <li><u>Sulfato de morfina:</u>
                            <p>
                                Opioide de acción rápida, puede desencadenar liberación de histamina
                                y vasodilatación e hipotensión resultante, la valoración de la respuesta
                                hemodinámica del paciente a este fármaco, dolor y SaO2 deben medirse
                            </p>
                        </li>
                        <li><u>Fentanilo:</u>
                            <p>
                                Opioide de acción rápida con duración más breve que la morfina, no hipotensa
                                tanto y puede administrarse a pctes con disfunción renal
                            </p>
                        </li>
                        <li><u>Propofol:</u>
                            <p>
                                Anestésico de acción breve, debe administrarse con vía periférica de gran
                                calibre puede producir ardor, no afecta la percepción del dolor, si se administra
                                por Baxter debe cambiarse cada 12 hs el circuito ya que es un excelente medio para
                                la infección, vigilar TA por posible hipotensión y concentraciones de triglicéridos
                            </p>
                        </li>
                        <li><u>Benzodiazepinas:</u>
                            <p>
                                Midazolam, Lorazepam, Diazepam, disminuyen la ansiedad, sedantes. Efectos adversos:
                                la sobredosis debe manejarse con flumazenil
                            </p>
                        </li>
                        <li><u>Bloqueadores neuromusculares
                            Bromuro de vecuronio, pancuronio, succinilcolina, belisato
                            de cisatracurio:</u>
                            <p>
                                Bloquea la transmisión del impulso de la unión mioneural. Disminuyen durante la
                                respiración la actividad muscular voluntaria y los movimientos de la pared torácica, aunque
                                los bloqueadores bloquean la transmisión nerviosa, el paciente escucha, siente dolor
                            </p>
                        </li>
                    </ol>
                    <h3>Drogas necesarias:</h3>
                    <ul>
                        <li>☺ Fentanilo, Morfina (analgesia)</li>
                        <li>☺ Midazolam, Propofol (sedante)</li>
                        <li>☺ Bloqueante neuromuscular, Rocuronio, Pancuronio, Succinilcolina, etc</li>
                        <li>☺ Ampolla solución fisiológico para lavar</li>
                    </ul>
                    <p>
                        Se administra primero la analgesia, a continuación, el sedante en último lugar el bloqueante
                        neuromuscular, luego lavamos con solución fisiológica. Se debe repetir en voz alta cada vez
                        que administramos cada uno de los medicamentos
                    </p>
                    <h2>Mesa de intubación completa</h2>
                    <h3>¿Qué materiales debemos preparar?</h3>
                    <img src="../assets/img/img-section-four-c.jpg" class="protocol-img">
                    <ul>
                        <li>☺ Tubo endotraqueal: consta de conector universal para conectar al tubo, balón testigo y balón
                            inflable, numeración, el tubo debe estar colocado 2cm por encima de la Carina</li>
                        <li>☺ Bolsa de Ambú</li>
                        <li>☺ Tubuladuras PVC</li>
                        <li>☺ Tubos endotraqueales de varias medidas</li>
                        <li>☺ Laringoscopio con distintas medidas de ramas</li>
                        <li>☺ Guía</li>
                        <li>☺ Guía de Eschmann</li>
                        <li>☺ Cánula tubo Guedell – Mayo diversas medidas</li>
                        <li>☺ Jeringas 10 CC</li>
                        <li>☺ Guantes estériles</li>
                        <li>☺ Antiparras</li>
                        <li>☺ Barbijo</li>
                        <li>☺ Almohadilla</li>
                        <li>☺ Tira de sujeción de tubo</li>
                        <li>☺ Estetoscopio</li>
                    </ul>
                    <img src="../assets/img/img-section-four-d.jpg" class="protocol-img">
                    <img src="../assets/img/img-section-four-e.jpg" class="protocol-img">
                    <img src="../assets/img/img-section-four-f.jpg" class="protocol-img">
                    <h3>Procedimiento</h3>
                    <p>
                        Asegurarnos que el paciente tenga acceso venoso. Para la administración de la medicación que sea de buen
                        calibre, lo ideal son dos accesos periféricos de gran calibre, uno para administrar premediación y otro por
                        si se deben administrar drogas inotrópicas.
                    </p>
                    <ul>
                        <li>☺ Corroborar buen funcionamiento del laringoscopio, que tenga pilas;
                            con varias ramas que se adecue a la anatomía del paciente</li>
                        <li>☺ Verificar que funcione la luz del laringoscopio</li>
                        <li>☺ Abrir tubo endotraqueal por parte de arriba y entregar del lado derecho del operador</li>
                        <li>☺ Control de integridad del balón antes de la intubación</li>
                        <li>☺ Fijación, anchofast o vendas</li>
                        <li>☺ Mascara y bolsa de ambú para la preoxigenacion (10 lts de O2)</li>
                        <li>☺ Monitor multiparamétrico para ver la hemodinamia del paciente</li>
                        <li>☺ Control estricto de TAM, la media mayor o igual a 65 mmhg, (sistólica de 120)</li>
                    </ul>
                    <p>
                        Cuando se empiece a ventilar el paciente puede hipotensar por la medicación y por el ingreso de presión positiva
                        al pulmón a la inversa, la presión positiva comprime las venas cavas superior e inferior, tener preparado para
                        esto, Solución Fisiológica, o Solución Ringer y también Noradrenalina (4 amp en 250) son 16 mg.
                    </p>
                    <h3>
                        <mark>Siempre es necesario que el procedimiento se realice en un entorno seguro con monitoreo continuo, capnógrafo, cardiodesfibrilador, drogas vasoactivas</mark>
                    </h3>
                    <h2>Control de intubación correcta</h2>
                    <p><u>Después de realizar la intubación orotraqueal:</u>
                        <ol>
                            <li>1) Se insufla el balón del tubo para evitar fugas y para proteger el árbol traqueobronquial</li>
                            <li>2) Auscultación abdominal, ambos campos pulmonares, tráquea</li>
                            <li>3) Control de capnógrafo</li>
                            <li>4) Control de saturación de O2</li>
                            <li>5) Control RX</li>
                            <li>6) Semifowler (ver caso particular)</li>
                            <li>7) Colocar SNG u orogástrica (ver caso particular)</li>
                            <li>8) Preparación de analgosedacion según indicación</li>
                            <li>9) Sujeción de seguridad</li>
                            <li>10) Acondicionar al pacte y unidad</li>
                        </ol>
                    </p>
                </div>
            </section>
            <section class="section" id="SECTION_FIVE">
                <button class="button">Aspiración de secreciones</button>
                <div class="protocols-container">
                    <h3>Aspirar secreciones puede realizase a través de dos sistemas uno cerrado y otro abierto</h3>
                    <p>
                        Aspiración abierta: este modo implica que se produzca la apertura de la vía aérea y cambio de sonda de aspiración cada vez.
                    </p>
                    <p>
                        Aspiración cerrada: no requiere desconexión ni apertura de la vía aérea, se utiliza una única sonda de mayor utilización.
                    </p>
                    <h3>Técnica de aspiración:</h3>
                    <ul>
                        <li>☺ Auscultar cuidadosamente</li>
                        <li>☺ Ajustar analgosedacion</li>
                        <li>☺ Verificar oximetría</li>
                        <li>☺ Hiperoxigenar 1´FiO2 100%</li>
                        <li>☺ Manos con lavado clínico, colocarse guantes y antiparras</li>
                        <li>☺ Sonda de aspiración</li>
                        <li>☺ Ingresar con la sonda el largo estimado del TET</li>
                        <li>☺ No ingresar aspirando</li>
                        <li>☺ La aspiración no debe exceder los 10´´si debe realizarse otro intento de aspiración ventilar previamente</li>
                        <li>☺ No exceder tres intentos</li>
                        <li>☺ Aspirar lago faríngeo, narinas y boca</li>
                        <li>☺ Auscultar nuevamente</li>
                        <li>☺ Controlar que FiO2 se encuentre en rango anterior a la aspiración</li>
                        <li>☺ No instilar solución salina (aumenta el riesgo de atelectasias)</li>
                        <li>☺ Desechar material contaminado</li>
                        <li>☺ Lavado de manos</li>
                    </ul>
                </div>
            </section>
            <section class="section" id="SECTION_SIX">
                <button class="button">Cambio filtro HME</button>
                <div class="protocols-container">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Officiis ex, nihil placeat dignissimos
                        distinctio rem maiores? Esse distinctio quis omnis
                        quo, assumenda nulla doloremque nihil aspernatur id
                        facere quibusdam eos!
                    </p>
                    <img src="../assets/img/ex-img.png" class="protocol-img">
                </div>
            </section>
            <section class="section" id="SECTION_SEVEN">
                <button class="button">Cambio circuito aspiración cerrada</button>
                <div class="protocols-container">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Officiis ex, nihil placeat dignissimos
                        distinctio rem maiores? Esse distinctio quis omnis
                        quo, assumenda nulla doloremque nihil aspernatur id
                        facere quibusdam eos!
                    </p>
                    <img src="../assets/img/ex-img.png" class="protocol-img">
                </div>
            </section>
            <section class="section" id="SECTION_EIGHT">
                <button class="button">Prevención de neumonía asociada a AMV</button>
                <div class="protocols-container">
                    <ul>
                        <li>☺ presión del cuff de TET adecuado, de 25 cmH2O y no mayor a 34cm H2O para prevenir la fuga, y evitar el ingreso de material contaminado de la faringe</li>
                        <li>☺ cabecera a 30 o 45° (especialmente si están recibiendo nutrición enteral)</li>
                        <li>☺ Higiene bucal con clorhexidina, para disminuir la colonización microbiana de la orofaringe una vez por turno</li>
                        <li>☺ cambio de fijaciones de tubo endotraqueal una vez por turno cuando se realiza la higiene bucal</li>
                        <li>☺ aspiración de secreciones preferentemente sistema cerrado cuando se ausculten secreciones</li>
                        <li>☺ cambio de interfases cuando se encuentren visiblemente sucias</li>
                        <li>☺ analgosedacion adecuada la presencia del TET causa dolor y disconfort</li>
                    </ul>
                    <p>
                        Las dosis excesivas de analgésicos pueden producir intolerancia a la nutrición enteral por íleo, prolongación de la ventilación mecánica.
                    </p>
                </div>
            </section>
            <section class="section" id="SECTION_NINE">
                <button class="button">Uso de escalas para la valoración de la sedación (RASS-CPOT)</button>
                <div class="protocols-container">
                    <img src="../assets/img/img-section-nine-a.png" class="protocol-img">
                    <img src="../assets/img/img-section-nine-b.jpg" class="protocol-img">
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media-icons">
            <p class="footer-text">
                Rosario, Argentina
            </p>
            <p class="footer-text">
                Copyright © 2023 Analía Vera. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>