.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #80ccff;
}

.footer-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #006bb3;
}

.social-media-icons{
    margin-top: 1.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 350px) {
    /* For mobiles */

    .social-media-icons{
        margin-top: 4%;
    }
}

@media only screen and (min-width: 480px) {
    /* For tablets */

    .social-media-icons{
        margin-top: 5.5%;
    }
}

@media only screen and (min-width: 980px) {
    /* For desktops */

    .social-media-icons{
        margin-top: 3%;
    }
}

@media only screen and (min-width: 1180px) {
    /* For desktops */

    .social-media-icons{
        margin-top: 1.8%;
    }
}