.main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-protocols{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

section:nth-child(1){
    margin-top: 14.1%;
}

.section h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    font-size: large;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1.5%;
    text-align: center;
}

.section h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1.5%;
    text-align: center;
}

.section-main p{
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    text-align: center;
    line-height: 23px;
}

.section p{
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    text-align: left;
    line-height: 23px;
}

.section li{
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    line-height: 23px;
}

.section .li-spaced{
    margin-left: 50px;
}

.protocols-container{
    width: 100%;
    display: none;
}

.in-line-flex{
    display: flex;
}

.li-img{
    width: 25%;
    height: 25%;
}

.fix-result{
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    background-color: #006bb3;
}

.fix-result h2{
    color: #FFFFFF;
}

.btn-reset{
    width: 40%;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 5.6%;
    cursor: pointer;
    border-width: 0.5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    color: #006bb3;
}

#RESULT{
    font-size: 40px;
    color: #FFFFFF;
    margin-right: 5%;
}

.nihss-img{
    width: 100%;
    margin-bottom: 3%;
}

.nihss-section{
    width: 100%;
    height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
}

.final-result{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.final-result h2{
    font-size: 44px;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #006bb3;
}

.nihss-p-container{
    width: 35%;
    margin-left: 2%;
}

.nihss-p-container p{
    font-size: 15px;
    text-align: left;
}

.nihss-btns-container{
    width: 57%;
    margin-left: 4%;
}

.nihss-button{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #006bb3;
    text-align: left;
    font-weight: 600;
    background-color: rgb(210, 214, 217);
    border-width: 0.5px;
}

.selected{
    color: #FFFFFF;
    background-color: #006bb3;
}